$background: #fff;
$footerBackground: #171F3F;
$headingColor: #171F3F;
$color: #52606D;
$ui1: #F5F7FA;
$ui2: #CBD2D9;
$ui3: #52606D;
$primary: #E6F5FF;
$primary2: #64BEFF;
$primary3: #0593FB;
$primary4: #076FBB;
$secondary: #06C847;
$secondary2:#2251CC;
$secondary3:#653CAD;