@import "_normalize";
@import "_variables";
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600&display=swap&subset=latin-ext');

html {
    font: 300 16px "Poppins", sans-serif;
}

*,
::after,
::before {
    box-sizing: border-box;
    font: inherit;
}

body {
    width: 100%;
    color: $color;
    background: $background;
    overflow-x: hidden;
}

.page-header {
    width: 100%;
    margin: 3rem auto;
    padding: 1rem;

    &__heading {
        font-weight: 600;
        color: $headingColor;
        font-size: 24px;
        line-height: 36px;
    }

    &__description {
        color: $color;
        font-size: 20px;
        line-height: 36px;
        font-weight: 500;
        font-size: 20px;
    }

    &__link {
        color: $primary3;
    }
}

.img-container {
    width: 100%;
    max-width: 80px;
    height: 80px;
    padding: 3px;
    background: $ui2;
    border-radius: 50%;
    display: block;

    &__image {
        max-width: 100%;
        border: 3px solid $background;
        border-radius: 50%;
        display: block;
        margin: auto;
    }
}

.language {
    display: block;
    position: absolute;
    right: 1rem;
    top: 4rem;

    &__link {
        color: $color;
        text-decoration: none;
        padding-left: 1.25rem;
        padding-right: 1.25rem;
        font-weight: 600;
    }

    &__link:first-of-type {
        border-right: 2px solid $color;
    }

    &__picked {
        color: $headingColor;
    }
}

.email__link {
    color: $primary3;
    border-bottom: 2px solid $primary3;
    font-weight: 500;
    text-decoration: none;
    font-size: 1.25rem;
    line-height: 2rem;
    padding-bottom: .5rem;
    margin-top: 20px;
    display: inline-block;
}

.main-section {
    width: 100%;
}

.section {
    width: 100%;
    margin: auto;
    padding: 4rem 1rem;
    display: block;

    &--skill {
        padding-bottom: 5rem;
    }

    &--projects {
        padding: 5rem 1rem;
        width: 100%;
        background-color: $ui1;
    }

    &__heading {
        font-size: 1.5rem;
        line-height: 2rem;
        font-weight: 500;
        color: $headingColor;
        text-align: center;

        &--skill {
            padding-bottom: .5rem;
            border-bottom: 2px solid $ui2;
        }
    }

    &__article {
        width: 100%;
        margin: 3rem auto;

        &:first-of-type {
            margin-top: 3.875rem;
        }

        &:last-child {
            margin-bottom: 0;
        }

        &--heading {
            font-size: 1.375rem;
            line-height: 2rem;
            position: relative;
            font-weight: 500;
            color: $headingColor;
        }

        &--strong {
            $maincolor: $secondary;

            &::before {
                content: "";
                position: absolute;
                left: 0;
                top: -8px;
                display: block;
                width: 40px;
                height: 4px;
                background-color: $maincolor;
            }
        }

        &--medium {
            $maincolor: $secondary2;

            &::before {
                content: "";
                position: absolute;
                left: 0;
                top: -8px;
                display: block;
                width: 40px;
                height: 4px;
                background-color: $maincolor;
            }
        }

        &--wannabe {
            $maincolor: $secondary3;

            &::before {
                content: "";
                position: absolute;
                left: 0;
                top: -8px;
                display: block;
                width: 40px;
                height: 4px;
                background-color: $maincolor;
            }
        }
    }

    &__list {
        list-style: none;

        &--element {
            position: relative;
            margin: 10px 0;
            padding: 0;
            padding-left: 20px;
        }

        &--strong {
            &::before {
                content: url('../assets/icons/check-green.svg');
                position: absolute;
                left: -10px;
                width: 12px;
                height: 12px;
            }
        }

        &--medium {
            &::before {
                content: url('../assets/icons/check-violet.svg');
                position: absolute;
                left: -10px;
                width: 12px;
                height: 12px;
            }
        }

        &--wannabe {
            &::before {
                content: url('../assets/icons/check-blue.svg');
                position: absolute;
                left: -10px;
                width: 12px;
                height: 12px;
            }
        }
    }

    &__description {
        margin-bottom: 2rem;
    }

    .projects-container {
        display: block;
        width: 100%;
        margin: auto;
    }

    &__project {
        width: 100%;
        background-color: $background;
        margin: 1rem auto 0 auto;
        box-shadow: 0px 6px 16px rgba(24, 41, 67, 0.09);
        border-radius: 4px;
        padding-top: 2rem;

        &--image {
            width: 100%;
            display: block;
            max-width: 40px;
            margin: 0 1.6875rem 0 1rem;
        }

        &--title {
            margin: 1rem 1.6875rem 0 1rem;
            color: $headingColor;
            font-size: 1rem;
            line-height: 24px;
            font-weight: 500;
        }

        &--description {
            margin: .25rem 1.6875rem 2rem 1rem;
            font-weight: 300;
            font-size: 0.875rem;
            line-height: 26px;
            color: $ui3;
        }

        &--link {
            display: inline-block;
            font-size: 0.875rem;
            line-height: 1.75rem;
            color: $primary3;
            font-weight: 500;
            text-decoration: none;
            position: relative;

            &:first-of-type {
                padding-right: 16px;
                margin-right: 16px;
                border-right: 1px solid $ui2;
            }
        }

        &--demo {
            &::before {
                content: url('../assets/icons/demo.svg');
                width: 20px;
                height: 20px;
                margin-top: auto;
                margin-right: 0.375rem;
                position: relative;
                top: 3px;
            }
        }

        &--repo {
            &::before {
                content: url('../assets/icons/code.svg');
                width: 18px;
                max-height: 18px;
                margin-top: auto;
                margin-right: 0.375rem;
                position: relative;
                top: 3px;
            }
        }
    }

    .links-container {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 0.625rem 2rem;
        background-color: $ui1;
    }
}

.footer {
    width: 100%;
    padding: 7.5rem 1rem;
    background-color: $footerBackground;

    &__heading {
        font-size: 1.5rem;
        color: $background;
        line-height: 2rem;
        font-weight: 600;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: -8px;
            display: block;
            width: 40px;
            height: 4px;
            border-radius: .5rem;
            background-color: $primary3;
        }
    }

    &__description {
        margin-top: 1rem;
        margin-bottom: 1.5rem;
        font-size: 1.25rem;
        line-height: 2.25em;
        color: $background;
    }

    &__container {
        margin-bottom: 2.5rem;
    }

    &__link {
        display: inline-block;
        width: 2rem;
        height: 2rem;

        &:nth-of-type(2) {
            margin: 0 1.5rem;
        }

        &--image {
            display: flex;
            max-width: 100%;
            margin: auto;
        }
    }
}